/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para garantir que a página tenha pelo menos a altura da viewport */
}

/* Estilos para o menu responsivo */
.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggler-icon {
  color: #000;
}

/* Estilos para o conteúdo da página */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

ul {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Ícones da lista */
ul li i {
  margin-right: 10px;
  color: #007bff;
}

/* Estilos para o rodapé */
footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  margin-top: auto; /* Empurra o rodapé para a parte inferior */
  width: 100%;
}
