{% extends 'base.html' %}

{% block conteudo %}

  <header class="hero">
    <div class="container">
      <h1>Bem-vindo à Ei Tech</h1>
      <p>Sua loja online para as últimas novidades em tecnologia e eletrônicos.</p>
    </div>
  </header>

  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-mobile-alt"></i>
            <h3>Produtos Inovadores</h3>
            <p>Encontre os dispositivos mais recentes e inovadores para acompanhar a era digital.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-shipping-fast"></i>
            <h3>Entrega Rápida</h3>
            <p>Garantimos entregas rápidas e seguras para que você possa aproveitar seus produtos o mais breve possível.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-headphones"></i>
            <h3>Suporte 24/7</h3>
            <p>Nossa equipe de suporte está disponível 24 horas por dia, 7 dias por semana para ajudar com suas dúvidas e preocupações.</p>
          </div>
        </div>
      </div>
    </div>
  </section>





  {% endblock %}
