{% extends 'base.html' %}
{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='/produtos/iphone14.jpg') }}" class="img-fluid" alt="Produto">
        </div>
        <div class="col-md-6">
            <h1>Iphone 14 Pro Max</h1>
            <p class="text-muted">Categoria: Tecnologia</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut efficitur nulla. Nunc sed nisl vel leo
                commodo scelerisque vel a libero.
            </p>
            <h2 class="mb-3">Especificações</h2>
            <ul class="list-unstyled">
                <li><i class="fas fa-check"></i> Tamanho: Médio</li>
                <li><i class="fas fa-check"></i> Cor: Preto</li>
                <li><i class="fas fa-check"></i> Garantia: 1 ano</li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2 class="mb-3">Opções de Compra</h2>
            <div class="mb-3">
                <label for="produto" class="form-label">Selecione um Produto</label>
                <select class="form-select" id="produto" aria-label="Selecione um produto">
                    <option selected>Escolha um produto</option>
                    <option value="produto1">Produto 1</option>
                    <option value="produto2">Produto 2</option>
                    <option value="produto3">Produto 3</option>
                </select>
            </div>
            <select class="form-select mb-3" aria-label="Selecione a quantidade">
                <option selected>Selecione a quantidade</option>
                <option value="1">1 unidade</option>
                <option value="2">2 unidades</option>
                <option value="3">3 unidades</option>
            </select>
            <button class="btn btn-primary">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>
{% endblock %}
